body {
  margin-bottom: 3%;
  overflow-x: hidden;
}

#top {
  height: 10vh;
}

#drop-off-list {
    height: 75vh;
    overflow: auto;
    padding-top: 3%;
}

#main {
  height: fit-content;
  padding-top: 3%;
}
