body {
  margin-bottom: 3%;
  overflow-x: hidden;
}

header h1 {
  padding: 1.250rem; /* 20px */
}

#top {
  height: 10vh;
}

#main {
  height: fit-content;
  padding-top: 3%;
}

/* dropOffLocations.html */
#drop-off-list {
    height: 75vh;
    overflow: auto;
    padding-top: 3%;
}

/* itemSearch.html */
#items {
  overflow: auto;
  height: 59vh;
}
#item {
  height: 10vh;
}
.item-image {
  height: 270px;
}
